<h1>商品一覧</h1>
<p>Find me in app/views/admin/products/index.html.erb</p>
 sasisuseso







<% if admin_signed_in? %>
 	<p><%= @test %></p>
 	<p>now log in</p>
 	<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
<% end %>
