<h1>管理者商品一覧</h1>







<% if admin_signed_in? %>
 	<p><%= @test %></p>
 	<%= link_to "サインアップ", new_admin_session_path %>
 	<%= link_to "ログイン", admin_session_path %>
 	<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
<% end %>
