/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

a {
   text-decoration: none;
   color: #e6e6fa;
 }

 
 li {
   list-style: none;
 }

 .clearfix::after {
   content: "";
   display: block;
   clear: both;
 }

/*共通*/
.main{
	display: block;
    position: relative;
    background-color: #FA5882;
}

.container{
	max-width: 728px;
    margin: 0 auto;
    background-color: #819FF7;
}

/*ヘッダー*/
.navbar{
	height: 45px;
	top:0;
	left:0;
	right:0;
	background-color: #44617b;
}

.navbar_container{
	width: 728px;
	margin: 0 auto;
}

.navbar-right{
	float: right;
}

 .navbar-right li{
 	float: left;
 }










