<main>
	<div class="productBox">
		<% @products.each do |product| %>
		<div class="view view-first">
			<%= link_to post_image_path(post_image.id) do %>
            <%= attachment_image_tag post_image, :image %>
                    <% end %>
                  </div>
	</div>
</main>